.basicInfoPanel{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start;
    gap: 2%;
    width: 100%;
}

.form-group-race{
    width: 20%;
    padding: 5px 0;
    max-height: max-content;
    box-sizing: border-box;
}

.form-group-raceDesc{
    width: 78%;
    box-sizing: border-box;
    padding: 5px 0;
}

.form-group-background{
    width: 50%;
    padding: 5px 1rem;
    max-height: max-content;
}

.raceContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column ;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.raceContainer button{
    display: flex;
    justify-content: flex-start;
}

.raceContainer button:hover{
    outline-style: auto;
    outline-style: ridge;
    outline-color:beige;
}

.raceContainer img{
    max-width: 40px;
    max-height: 40px;
    aspect-ratio: 1/1;
}

.raceContainer span{
    margin: auto;
}

.backgroundContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    justify-content:flex-start;
    align-items: center;
}

.raceContainer button,
.backgroundContainer button{
    background: none;
    border: 2px solid black;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.3), 0 3px 10px 0 rgba(0, 0, 0, 0.45);
    border-radius: 5px;
    font-size: 1.3rem;
    width: 60%;
}

.backgroundContainer button {
    width: max-content;
}

.raceFeatures{
    padding: 0 1rem;
}

.traitsLabels{
    font-size: 1.3rem;
    white-space: pre-wrap;
    text-decoration: underline;
}

