body{
    font-family: 'Caudex';
    margin: 0;
    padding: 0;
    height: auto;
}

html{
    height: auto;
}

#page-container {
    background-color: #a57641;
    color: black;
    min-height: 100vh;
    position: relative;
}

.navbar { 
    background-color: #4B2E1E;
    background-size:70% 3px;
    border-top: none;
    border-left: none;
    border-right: none;
}

/* .nav-item,.nav-link, .navbar-brand{ color: black !important; }
.nav-link:hover,.navbar-brand:hover { color: #20201e !important; } */
.nav-item,.nav-link, .navbar-brand{ color: #c2a067 !important; }
.nav-link:hover,.navbar-brand:hover { color: #e7c891 !important; }


#content-wrap {     
    padding-top: 20px;     
    padding-bottom: 40px;
    border-radius: 0px;
}

footer {
    display: flex;
    align-items: center;
    background-color: #4B2E1E;
    color: #c2a067;
    width: 100%;
}

/* .bg-loading {
    background: none !important;
} */


.title { 
    text-align: center; 
}

footer{
    height: 2.5rem;
    position: absolute;
    bottom: 0;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.flash-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    width: auto;
    max-width: 90%;
}