.basicInfoCard {
    display: flex;     
    align-items: center;
    gap: 10px; 
    padding-bottom: 20px; }

/* .basicInfoCard div {
    margin: auto;    width: 33%;    text-align: center; } */

.charImage{     margin-left: 5%; width: 20%; max-width: 200px;}

.charImage img{ 
    height: 200px; 
    width: 200px; 
    border-radius: 50%; 
    object-fit: cover; 
    aspect-ratio: 1 / 1; 
    display: block; 
}

.charName { 
    padding: 0px 30px; 
    box-sizing: border-box; 
}

.charName h1 {     text-align: center; }

.inline {   display: inline-block; margin-right: 10px;}

.className {  
    font-size: 25px; 
}

.charInfo div {     width: 50%;    box-sizing: border-box;    padding: 0px 30px; }

.classInfo {     padding: 0px 30px; }

.subclassInfo {    display: flex;     align-items: center;     justify-content: center; }

.attributesCard {    
    display: flex;
    gap: 15px;
}

.attributesCard > div {
    flex: 1;
    margin: 10px;
    border: solid black 5px;
}

.profAttributes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 10px;
    justify-items: center;
    padding: 10px;
    margin: auto;
}

.statBlock {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 4px 8px;
    
    position: relative;
    box-sizing: border-box;
    border: 2px solid black;
    width: 220px; 
}

.profAttributes > :nth-child(even) {
    justify-content: flex-end;
}

.statBlock:hover {
  background-color: #e0e0ff;
  cursor: pointer;
  border-color: #6666ff;
}

.circle {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5em;
}

.label{
    text-align: center;
    flex: 1;
}

.mainAttributesCard {
    padding: 0% 10%;
}

.mainAttributesCard > div {
    display: flex;
}

.mainAttributesCard > div > div{
    margin: 10px;
}

.statValue {
    display: flex;
    flex-direction: column;  /* stack inner divs vertically */
    align-items: center;     /* center horizontally */
    justify-content: center; /* center vertically */
    height: 100%;            /* or set a fixed height */
    width: 25%;
    border: 2px solid black;
}

.skillChecks{
    width: 75%;
    padding-left: 30px;
}

/* .attribute{     
    display: flex;     
    align-items: center;
    margin: 10px 0px; 
    border: solid 3px; 
    border-radius: 1.5rem; 
    min-height: 3.5em;
} */

.attribute div{ margin: auto; }

.attributeName {
    font-weight: bold;
}

.modifier {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}

.abilityScore {
    font-size: 1.5em;
    border: 2px solid black;
    border-radius: 50%;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 5px;
}








