/* --------------------------------------- PROFICIENCY STATS --------------------------------------- */
.profficiencyAttributes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 5px;
    justify-items: center;
    padding: 0px 50px;
    margin-bottom: 20px;
}

.profficiencyBlock {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 4px 8px;
    position: relative;
    box-sizing: border-box;
    width: 220px; 
    /* box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.profficiencyAttributes > :nth-child(even) {
    justify-content: flex-end;
}

.circle {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5em;
}

.profficiency-label{
    text-align: center;
    flex: 1;
}

/* --------------------------------------- ATTRIBUTE STATS --------------------------------------- */
.AbilityScoresCard {
    padding: 0% 10%;
}

.stat {
    display: flex;
    margin-bottom: 10px;
}

.statValue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 33%;
    /* border: 2px solid black; */
    margin: auto;
    margin: 10px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}

.skillChecks{
    width: 75%;
    padding-left: 30px;
    border-top: 2px solid black;
    font-size: 17px;
    font-weight: 500;
}

.attributeName {
    font-weight: bold;
    font-size: 15px;
}

.modifier {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}

.abilityScore {
    font-size: 1.3em;
    border: 2px solid black;
    border-radius: 50%;
    width: 60px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    margin-bottom: 5px;
}