{% extends "base.html" %}

{% block title %}A&M - Characters List{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/characterPage.css') }}">

<!-- Basic Info Card (Name, Race, Class etc)-->
<div class="basicInfoCard">
    <div class="charImage">
        <img src="static/images/charImage.jpg" alt="character-image">
    </div>
    <div>
        <div class="charName">
            <h1 class="inline">Nef </h1> 
            <p class="inline className">the <span>Gnosiaki</span> <span>Psyxologos</span></p>
            <p class="inline"> Level: 10</p>
        </div>
        
        <div class="charInfo">
            <!-- <label for="race">Race</label> -->
            <div name="race">Race: Goblin</div>
            <!-- <label for="class">Class</label> -->
            <div name="background">Background: Patrinia</div>
            <!-- <label for="alignment">Alignment</label> -->
            <div name="alignment">Alignment: Chaotic</div>
        </div>
    </div>
</div>

<!-- Attributes card -->
<div class="attributesCard">

    <div class="leftAttributesCard">

        <div class="profAttributes">
            <div class="statBlock">
                <div class="circle">+4</div>
                <div class="label">PROFICIENCY</div>
            </div>
            <div class="statBlock">
                <div class="label">
                    <div>PASSIVE</div>
                    <div>PERCEPTION</div>
                </div>
                <div class="circle">12</div>
            </div>
            <div class="statBlock">
                <div class="circle">2</div>
                <div class="label">INSPIRATION</div>
            </div>
            <div class="statBlock">
                <div class="label">
                    <div>PASSIVE</div>
                    <div>INSIGHT</div>
                </div>
                <div class="circle">16</div>
            </div>
        </div>

        <div class="mainAttributesCard">
            <div class="stat">
                <div class="statValue">
                    <div class="attributeName">STRENGTH</div>
                    <div class="modifier">+3</div>
                    <div class="abilityScore">16</div>
                </div>
                <div class="skillChecks">
                    <div class="">Saving Throw: +3</div>
                    <div class="">Athletics: +3</div>
                </div>
            </div>

            <!-- <div class="">
                <div class="">AGI: 14</div>
                <div class="">Modifier: +2</div>
                <div class="">Saving Throw: +2</div>
                <div class="">Acrobatics: +2</div>
                <div class="">Sleight of Hand: +2</div>
                <div class="">Stealth: +2</div>
            </div> -->
        </div>
    </div>

    <div class="middleAttributesCard">
        <div class="attribute">
            <div class="">INT: -2</div>
            <div class="">Modifier: -10</div>
        </div>
        <!-- <div class="attribute">
            <div class="">Mpinies: 25</div>
            <div class="">Modifier: +5</div>
        </div> -->
    </div>

    <div class="rightAttributesCard">
        <div class="attribute">
            <div class="">INT: -2</div>
            <div class="">Modifier: -10</div>
        </div>
    </div>

</div>
 



{% endblock %}