{% extends "base.html" %}

{% block title %}A&M - Characters List{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/characterSheetPage/characterSheetPage.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/characterSheetPage/characterHeader.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/characterSheetPage/abilityScores.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/characterSheetPage/combatStats.css') }}">
{% endblock %}


<!------------------------------------- MAIN BODY ------------------------------------->
{% block content %}
<div id="char-sheet-root" data-charid="{{char_id}}" data-userid="{{user_id}}"></div>
 
    {#  Development (#dev) #}
    {% if config['ENV'] == 'development' %}
        <script type="module" src="http://192.168.1.202:5173/@vite/client"></script>
        <script type="module">
            import RefreshRuntime from 'http://192.168.1.202:5173/@react-refresh'
            RefreshRuntime.injectIntoGlobalHook(window)
            window.$RefreshReg$ = () => {}
            window.$RefreshSig$ = () => (type) => type
            window.__vite_plugin_react_preamble_installed__ = true
        </script>
        <script type="module" src="http://192.168.1.202:5173/src/entry/characterSheetPage.jsx"></script>
    {% else %}
    {#  Production (#prod) #}
        <script type="module" src="{{ url_for('static', filename='js/character.js') }}"></script>
    {% endif %}

{% endblock %}